/* Importando do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: center ;
    flex-direction: row;
    list-style: none;   /* remove os dots */
    color:black;
    .background-color: purple;
}
nav{
    display: flex; /* Permite organizar os elementos HTML*/
    justify-content: space-between;
    background-color:black;
    padding: 10px 20px;
}
.logo{
    font-size: 1.8rem;
    color: red;
    font-weight: bold;
    
}
li{
    padding: 12px 10px 5px 50px; /* dá um respiro dentro dos links */
}
a{ 
    text-decoration: none; /* remove o sublinhado */
    color: black;
}
body{
    font-family: 'Poppins', sans-serif;
}
