/* Importando do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: center ;
    flex-direction: row;
    list-style: none;   /* remove os dots */
    color:red;
    .background-color: purple;
}
nav{
    display: flex; /* Permite organizar os elementos HTML*/
    justify-content: space-between;
    background-color:black;
    padding: 10px 20px;
}
.logo{
    font-size: 1.8rem;
    color: red;
    font-weight: bold;
    
}
li{
    padding: 12px 10px 5px 50px; /* dá um respiro dentro dos links */
}
a{ 
    text-decoration: none; /* remove o sublinhado */
    color: white;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
  , url('https://br.freepik.com/fotos-gratis/ninguem-na-estacao-de-trabalho-do-call-center-vazio-com-computadores-e-instrumentos-de-audio-nao-ha-pessoas-nos-balcoes-de-atendimento-ao-cliente-com-tecnologia-de-telecomunicacoes-oferecendo-assistencia-de-linha-de-apoio_27782339.htm#fromView=image_search_similar&page=1&position=0&uuid=cd5cdc30-ce2d-4496-a8d2-3d943abd0a7a')
  no-repeat center center/cover;
  text-align: center;
  padding: 6rem 2rem;
  color: #fff;
}
